<h1>Login here</h1>

<body>
    Hello, this is the login page. Please enter your credentials. <br> <br>
<form action="login.ejs" method="post">
    <div>
    <label for="userid">User ID or Email: </label>
    <input type="text" id="userid" name="userid" value=""></input> <br>
</div>
<div>
    <label for="Password">Password: </label>
    <input type="password"> </input>
</div>
<button type="submit">Login</button>
</form>

<a href="/register">Register</a>
</body> 